@media print{@page {size: landscape}}

body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 18px 'Arial';
  -webkit-print-color-adjust: exact;
}

div {
  box-sizing: border-box;
}

.item {
  float:left;
  display: block;
  width: 25vw;
  height: 25vh;
  border: 1px solid #333;
  box-sizing: border-box;
  page-break-after: always;
}

/* pbi base color -> 71bdea */
.item.pbi{
  background: #000;
  border:1px solid #fff;
  color: #fff;
}

.item.pbi .title{
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}

.item.pbi .time{
  border-left:1px solid #fff;
}

/* development base color -> 9abc8b */
.item.development{
  background: #F15025;
  border:1px solid #fff;
  color: #fff;
}

.item.development .title{
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}

.item.development .time{
  border-left:1px solid #fff;
}

/* review base color -> e5857c */
.item.review{
  background: #e5857c;
  border:1px solid #fff;
  color: #fff;
}

.item.review .title{
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}

.item.review .time{
  border-left:1px solid #fff;
}

/* test base color -> 945995 */
.item.test{
  background: #2364AA;
  border:1px solid #fff;
  color: #fff;
}

.item.test .title{
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}

.item.test .time{
  border-left:1px solid #fff;
}

.item .key {
  float: left;
  width: 100%;
  height: 5vh;
  padding: 10px;
}

.item .title {
  float: left;
  display: block;
  width: 100%;
  height: 15vh;
  border-top:1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px;
  line-height: 1.4em;
  font-weight: 600;
}

.item .assign {
  float: left;
  display: block;
  width: 70%;
  height: 5vh;
  padding: 10px;
}

.item .time {
  float: right;
  display: block;
  width: 30%;
  height: 5vh;
  padding: 10px;
  border-left: 1px solid #333;
  text-align: center;
}
