@import 'theme.css';

body, html {
  margin: 0;
  padding: 0;
}

#template {
  display: none;
}

.item {
  float: left;
  width: 25vw;
  height: 25vh;
  box-sizing: border-box;
  page-break-after: always;
  font-size: var(--pbi-font-size);
  font-family: var(--pbi-font-family);
  font-weight: var(--pbi-font-weight);
  color: var(--pbi-font-color);
  border: var(--pbi-border-size) solid var(--pbi-border-color);
  background-color: var(--pbi-background-color);
}

.item div {
  padding: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
}

.item .key {
  width: 100%;
  height: 5vh;
}

.item .summary {
  width: 100%;
  height: 15vh;
  border-top: var(--pbi-border-size) solid var(--pbi-border-color);
  border-bottom: var(--pbi-border-size) solid var(--pbi-border-color);
  line-height: 1.5em;
}

.item .assignee {
  float: left;
  width: 60%;
  height: 5vh;
}

.item .estimate {
  float: right;
  width: 40%;
  height: 5vh;
  text-align: center;
  border-left: var(--pbi-border-size) solid var(--pbi-border-color);;
}

@media print {

  @page { size: landscape }

  body, html { 
    -webkit-print-color-adjust: exact; 
  }

}